.display-container {
    display: flex;
    gap: 16px;
    padding: 16px
}

.amenity-panel-container {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.all-likert-container {
    display: flex;
    flex-direction: column;
    gap: 1rem
}