.footer {
  background-color: #011627;
  color: #FDFFFC;
  padding: 2rem 1.5rem;
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.footer-bottom {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.85rem;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  gap: 5px

}

.footer-logo {
  width: 28px;
  height: 28px;
  object-fit: contain;
  transition: 0.25s ease;
}

