header {
  background-color: #38a3a5;
  color: #ffffff;
  padding: 3rem;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  height: 40px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-title {
  font-weight: 700;
  font-size: 2rem;
}

.headerImage {
  height: 52px;
  border-radius: 50%;
}